<mat-card>
    <mat-card-title>Cadastro de Cliente</mat-card-title>
    <mat-card-content>
        <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="full=width">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome" placeholder="Digite o nome">
                <mat-error *ngIf="customerForm.get('nome')?.invalid">
                    Nome é obrigatório e deve ter pelo menos 3 caracteres.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full=width">
                <mat-label>CPF</mat-label>
                <input matInput appCpfMask formControlName="cpf" placeholder="Digite o CPF">
                <mat-error *ngIf="customerForm.get('cpf')?.invalid">
                    CPF deve conter 11 dígitos numéricos.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full=width">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="customerForm.get('dataNascimento')?.invalid">
                    Data de nascimento é obrigatória.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full=width">
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sexo">
                    <mat-option value="masculino">Masculino</mat-option>
                    <mat-option value="feminino">Feminino</mat-option>
                    <mat-option value="outro">Outro</mat-option>
                </mat-select>
                <mat-error *ngIf="customerForm.get('sexo')?.invalid">
                    Sexo é obrigatório.
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="customerForm.invalid">Cadastrar</button>
        </form>
    </mat-card-content>
</mat-card>
