.container {
  overflow-x: scroll;
  padding: 20px;
  width: 100vw;
  gap: 24px;
}

.top-buttons {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
  gap: 10px;
  height: 50px;
  padding-top: 40px;
  padding-bottom: 35px;
  background-color: #FFFFFF;
  box-shadow: 1px 10px 20px 0px rgba(90, 117, 167, 0.08);

  & app-button {
    ::ng-deep button {
      padding: 16px;
    }
  }
}

.app-cards {
  width: 100%;
  gap: 20px;
  margin-top: 45px;
  margin-bottom: 50px;
}

app-card {
  margin-top: 20px;
}


